
html,
body {
    height: 100%;
	font-family: "Open Sans";
	 
	font-size: 13px;
	
}

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.carousel {
    height: 65%;
	
}
#myCarousel {
 padding-top: 64px;
}
.item,
.active,
.carousel-inner {
    height: 100%;
}
a {
 
text-decoration: none;
}
a:hover {
 
text-decoration: none;
}
li {
list-style: none;
}
iframe {
border: none;
width: 100%;
float: left;
}
  .smallhead {
  padding-top: 82px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: 50% 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.alsd   {  
padding: 30px;
  font-size: 13px;
  line-height: 17px;
      margin: 50px 0 30px;
  background-color: rgba(255, 255, 255, 0.501961);
  color: #fff;
  position: absolute;
  top: 185px;
}

.alsd h3 {
font-size: 15px;
line-height: 18px;
width: 100%;
float: left;
margin: 0px;
padding: 0px;
text-transform: capitalize;
color: #007fac;
}

.alsd h2 {
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}
.alsd p {
width: 100%;
 
color: #000;
font-size: 13px;
line-height: 20px;
}


.alsdd   {  
padding: 10px;
  font-size: 30px;
  line-height: 36px;
  margin: 50px 0 30px;
  background-color: rgba(30, 180, 138, 0.501961);
  color: #fff;
  position: absolute;
  top: 85px;
}
.alsdd h2 {
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}



.alsdd2   {  
 
  position: absolute;
  top: 325px;
}

 
#footer #footer-main {
padding: 50px 0;
background-color: #252C34;
text-align: center;
}
#footer #footer-copyright {
background-color: #272727;
color: #565f73;
padding: 20px 0;
text-align: center;
}
#footer #footer-main {
text-align: left;
}
#footer #footer-main .title {
color: white;
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
margin: 0 0 25px 0;
}
#footer-main p {
color: #A1A1A1;
margin-bottom: 15px;
}
#footer #footer-main .icon-wrap i {
color: #888;
}
#footer #footer-copyright .copyright {
float: left;
}
#footer #footer-copyright .links {
float: right;
margin-top: 0;
}
.avfoo a {
color:#777;
}
.avfoo a:hover {
color:#fff;
}
 
#footer #footer-main .ft-box a {
color: #A1A1A1;
}

.sparrow li {
padding: 4px 0px;
display: inline-block;
}
.sparrow li:before {
content: "\2794 \ ";
color:#888;
}
#footer #footer-main .ft-box .logo-box {
height: 55px;
max-height: 55px;
}


.links i {
    color: #FFFFFF;
}
#footer .navbar {
margin: 0;
min-height: 0;
background: transparent;
border-color: transparent;
}
#footer .links .btn {
margin-left: 5px;
}

#divSiteTitle {
  font-family: 'Century Gothic', sans-serif;
  font-size: 26px;
  text-shadow: none;
  line-height: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: normal;
  float: none;
}
#divTagLine {
  font-family: 'Century Gothic', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 22px;
  text-shadow: none;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: normal;
  font-style: normal;
}

.header {
  top: auto;
}







 


.service {
padding-bottom: 50px;
}
 







 
.work-desc {
width: 100%;
padding: 10px 20px;
background: #FFF;
border: 1px solid #e3e3e3;
border-top: none;
position: relative;
    background-color: #fafafa;
}









.overlay-container {
    position: relative;
    display: block;
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
 







  
.btn {
font-family: 'Montserrat', sans-serif;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
text-transform: uppercase;
font-weight: 700;
font-size: 12px;
padding: 10px 12px;
border-radius: 0;
}

 
.headline {
display: block;
margin: 10px 0 25px 0;
 
}

.headline h2, .headline h3, .headline h4 {
margin: 0 0 -2px 0;
padding-bottom: 5px;
    overflow: hidden;
    line-height: 28px;
    
    position: relative;



}

.headline h2:after {
    background: url(../img/bg_off.png) repeat;
    content: "";
    height: 5px;
    margin-left: 10px;
    position: absolute;
    top: 12px;
    width: 99%;

}

.headline h2 a {
color:#000;
}





.article-page {
 
overflow: hidden;
padding: 12px 13px 12px 13px;
margin-right: 24px;
margin-bottom: 50px;
color: #555;
 
}
.blogdetails {
padding: 20px;
border: 1px solid #f3f3f3;
    background-color: #fafafa;
 
clear: both;
}

.blogfooter {
background-color: #f1f1f1;
    padding: 12px 20px;
    border-top: 1px solid #e8e8e8;
    font-size: 14px;
    line-height: 2;
    clear: both;
}


.article-page-head a {
color:#000000;
}


 








 
 
  

 
.page-intro {

    padding: 10px 0;
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.06) inset;
    background-color: #fafafa;
    border-bottom: 1px solid #dadada;
}

.mainblogwrapper {
padding-top: 35px !important;


padding-bottom: 40px;


}
.section {
padding: 40px 0;
}
blockquote p {
font-size: 14px;
font-weight: 400;
margin: 0 0 10px;
}

blockquote {
padding: 5px 15px;
border-left-width: 2px;
}

  

label {
color: #999;
}
label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px !important;
font-weight: 700;
}


.conbil {

border: 1px solid #ccc !important;
line-height: 1.42857143 !important;
height: 34px !important;
}
textarea.form-control {
height: auto !important;
}
.btn-u {
border: 0;
color: #fff;
font-size: 14px;
cursor: pointer;
font-weight: 400;
padding: 6px 13px;
position: relative;
background: #72c02c;
white-space: nowrap;
display: inline-block;
text-decoration: none;
}

.btn-u:hover, .btn-u:focus {
background: #5fb611;
}




  


.wp-post-image {
display: block;
max-width: 100%;
height: auto;
}

.marginat {
margin:15px 0;

}
.margineatts {
margin-bottom:50px;

}


.action-box h3 {
margin-top: 0;
}




.stitle {
 
position: relative;
 
}

.controls {
float: right;
position: absolute;
top: 0;
right: 0;
background-color: #ffffff;
padding-left: 20px;
}

 

.ar-margin-bottom-30 {
margin:30px 0 15px;
}


.carousel-caption {
left: 0;
right: 0;
bottom: 0;
padding: 7px 15px;
background: rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
color: #fff;
margin-bottom: 0;
}




.navbar-inverse {
background-color: #fff;
border-color: #EEEEEE;
}

 
 

 


 @media only screen and (min-width: 992px) { 

 
/* General menu styling */
.nav {
position: relative;
margin: 0;
padding: 0;
line-height: 22px;
}
/* The main navigation link containers */
.nav>li {
display: block;
float: left; /* Displaying them on the same line */
margin: 0;
padding: 0;
}
/* The main navigation links */
.nav>li>a {
/* Layout */
display: block;
position: relative;
padding: 10px 20px;
/* Text */

color: #fff;
 
text-decoration: none;
/* Background */
 
-webkit-transition: color .3s ease-in;
-moz-transition: color .3s ease-in;
-o-transition: color .3s ease-in;
-ms-transition: color .3s ease-in;
}
/* Changing the color on hover */
.nav>li>a:hover, .nav>li:hover>a {
color: #000;
background-color: #fafafa;
border: 1px solid #f1f1f1;

}
/* The links which contain dropdowns menu are wider, because they have a little arrow */
.nav>.menu-item-has-children>a {
padding: 10px 30px 10px 20px;
}
/* The arrow indicating the dropdown */
.menu-item-has-children>a::after {
content: "";
position: absolute;
top: 15px;
right: 15px;
width: 7px;
height: 7px;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
border-bottom: 1px solid #9d9d9d;
border-right: 1px solid #9d9d9d;
}
/* Changing the color of the arrow on hover */	
.menu-item-has-children>a:hover::after, .menu-item-has-children:hover>a::after {
border-color: #e7746f;
}
/* The submenus */
.nav ul {
position: absolute;
margin: 0;
padding: 0;
list-style: none;
display: block;
}
/* General layout settings for the link containers of the submenus */
.nav ul li {
position: absolute;
top: -9999px; /* Hiding them */
height: 0px;
display: block;
margin: 0;
padding: 0;
/* Making them to expand their height with a transition, for a slide effect */
-webkit-transition: height .2s ease-in;
-moz-transition: height .2s ease-in;
-o-transition: height .2s ease-in;
-ms-transition: height .2s ease-in;
}
/* Displays the submenu links, by expading their containers (with a transition, previously defined) and by repositioning them */
.menu-item-has-children:hover>ul>li {
height: auto;
position: relative;
top: auto;
}
/* The submenu links */
.nav ul li a {
/* Layout */
padding: 14px 20px;
width: 220px;
display: block;
position: relative;
/* Text */
 border-color: #f1f1f1;
color: #bbb;
text-decoration: none;
font-size: 16px;
/* Background & effects */
 
background: #f5f5f5;
-webkit-transition: color .3s ease-in, background .3s ease-in;
-moz-transition: color .3s ease-in, background .3s ease-in;
-o-transition: color .3s ease-in, background .3s ease-in;
-ms-transition: color .3s ease-in, background .3s ease-in;
}
/* Changing the link's color and background on hover */
.nav ul li:hover>a, .nav ul li a:hover {
color: #000;
background-color: #fff;
    border: 1px solid #f1f1f1;
}
/* Making the level 2 (or higher) submenus to appear at the right of their parent */
.nav ul .menu-item-has-children:hover ul {
left: 220px;
top: 0px;
}
/* The submenu links have a different arrow which indicates another dropdown submenu */
.nav ul .menu-item-has-children a::after {
width: 6px;
height: 6px;
border-bottom: 0;
border-right: 1px solid #fff;
border-top: 1px solid #fff;
top: 21px;
}
/* Changing the color of the arrow on hover */
.nav ul .menu-item-has-children:hover>a::after, .nav ul .menu-item-has-children>a:hover::after {
border-right: 1px solid #e7746f;
border-top: 1px solid #e7746f;
}

.sub-menu > li {
border-bottom: 1px solid #E5E5E5;
}
.sub-menu li:last-child a {
 border: 1px solid #f1f1f1; /*Reset the border for the anchor of last li of this ul*/
}

 
  }
@media only screen and (max-width: 992px) { 

.navbar ul {
list-style: none;
}
.navbar ul ul {
margin-left: 40px;
}
.navbar ul a{
color:#0A0A0A;
}

.navbar li {
border-top: 1px solid #000;
}

.navbar .nav-pills > li > a  {
padding: 5px;
}
#nav {
background:#fff;

}
.navbar-inverse .navbar-collapse {
border-color: #fff;
}
}




@media (min-width: 768px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}




@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar .navbar-nav > .current > a {

color: rgb(0, 125, 173);
background-color: rgb(241, 241, 241);
border-bottom-style: none;
}
 








.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
color: #fff;
background-color: #007fac ;
}





















/***********services**************/



.service-icon {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    height: 90px;
	    text-align: center;
    line-height: 90px;
    width: 90px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.service-icon {
       background-color: #007fac;
}

.services .col-sm-4:hover .service-icon {
    background-color: #333;
}

 






/*@@@@@search box *&&&&&&&*/

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}


.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-btn {
    display: table-cell;
}

.subscribe-btn {
    background: #007fac;
    cursor: pointer;
}
.subscribe-btn {
    height: 44px;
    padding: 6px 16px;
    background-image: none;
    color: #fff !important;
    text-shadow: none;
    font-size: 16px;
    border: none;
    text-shadow: none !important;
}

.subscribe-btn:hover {
    background: #4C8575;
}

.input-group .form-control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.input-group-btn:last-child > .btn  {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	    border-radius: 4px;

}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
	border-radius: 4px;
}


















 



 




  div, span, applet, object, iframe,
pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 25px;
	 
}
ol, ul {

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


 
 
/*----- Reset Css ends -----*/

/*----- Common Styles -----*/
b,strong {
	font-family: 'Arvo', serif;
	font-weight: 700;
}
a:hover {
	text-decoration: none;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
code {
  white-space: inherit;
  background-color: #f1f1f1;
}
/*----- Common Styles Ends -----*/



 .searchform div {
position: relative;
}
 

/* --- Recent Blogs Starts --- */
.blog-wrapper {
  padding-top: 25px;
  margin-bottom: 9px;
}
.blog-wrapper >  div > div:nth-child(n+1) > div:nth-child(3n+1) {
clear: both;
}
.recent-blog-header {
  text-align: center;
}
.recent-blog-header p.saperator {
  
  background-position: center;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 36px;
}
.recent-blog-header h1.rbh {
  margin-bottom: 36px;
}
.recent-blog-header p.rbh {
  margin-bottom: 41px;
}
.recent-posts-container {
  background-color: #fafafa;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
border: 1px solid #f3f3f3;;
  overflow: hidden;
  position: relative;
  margin-bottom: 43px;
   
}
.asat {
  padding: 10px;
}



.recent-posts-container a.rbh-post-thumbnail {
  margin-bottom: 16px;
  line-height: 10px;
}
.recent-posts-container img.post-thumb {
  height: auto;
  max-width: 100%;
}
.recent-posts-container img.post-thumb:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
filter: alpha(opacity=85);
-moz-opacity:0.85;
-khtml-opacity: 0.85;
opacity: 0.85;
}
 
.recent-posts-container h3 a{
  color: #000;
}
.recent-posts-container h3 a:hover {
color: #007fac;
}
p.moree {
margin-top:22px;
}


.recent-posts-container p {
  text-align: left;
}
p.rbh-post-meta {
  margin-top: 38px;
}
p.rbh-post-meta a {
  color: #e7746f;
}
img.rbh-readmore:hover{
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
}
img.rbh-readmore {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 13px;
  border-top: 1px solid #acacac;
  border-left: 1px solid #acacac;
  
}

/* --- hover effect --- */
.recent-posts-container .rbh-post-thumbnail {
	 
	display: block;
	position: relative;
	width: 100%;
	z-index: 0;
}
/* --- hover effect ends --- */
/* --- Recent Blogs Starts Ends --- */

 



/* ---WP Core Styling Image around Text alignment Start --- */
.alignnone {
    margin: 18px 0px 20px 0;
}
img.alignnone {
    max-width: 100%;
    height: auto;
}
.aligncenter,
div.aligncenter {
    display: block;
    clear: both;
    margin: 18px auto 18px auto;
}
.alignright {
    float:right;
    margin: 18px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 18px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 18px auto 18px auto;
}
a img.alignright {
    float: right;
    margin: 18px 0 20px 20px;
}
a img.alignnone {
    margin: 18px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 18px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 100%; /* Image does not overflow the content area */
    padding: 5px 5px 5px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 0 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.sticky {
}
.sticky h4 a:link, .sticky h4 a:visited{
    color:red;
    text-transform:Uppercase;
}
.sticky h4 a:hover{
    color:red;
    text-decoration:underline;
}
.gallery-caption {
} 
.bypostauthor{
}
/* ---WP Core Styling Image around Text alignment Ends --- */



/* --- WP Comments Starts --- */
#commentsbox {
  margin-right: 24px;
  line-height: 1.4;
   margin-bottom: 35px;
}
#commentsbox h3#comments {
	margin-bottom: 20px;
}
.commentlist .reply {}
.commentlist .reply a {
   
  width: 24px;
  height: 15px;
  position: absolute;
  bottom: 28px;
  right: 16px;
  text-indent: -9999px;
}
.commentlist .comment-body {
  position: relative;
}
.commentlist .alt {}
.commentlist .odd {}
.commentlist .even {}
.commentlist .thread-alt {}
.commentlist .thread-odd {}
.commentlist .thread-even {}
.commentlist li ul.children .alt {}
.commentlist li ul.children .odd {}
.commentlist li ul.children .even {}

.commentlist .vcard {
  color: #3d3d3d;
  font-size: 17px;
}
.commentlist .vcard cite.fn {
  margin-left: 20px;
}
.commentlist .vcard span.says {}
.commentlist .vcard img.photo {}
.commentlist .vcard img.avatar {
  float: left;
  margin-bottom: 15px;
  border: 1px solid #c8c8c8;
  padding: 3px;
}
.commentlist .vcard cite.fn a.url {
  color: #3d3d3d;
}

.commentlist .comment-meta {} 
.commentlist .comment-meta a {
  color: #e7746f;
}
.commentlist .commentmetadata {}
.commentlist .commentmetadata a {
  margin-left: 20px;
  font-size: 14px;
}

.commentlist .parent {}
.commentlist .comment {}
.commentlist .comment .depth-1{}
.commentlist .comment .depth-2{
  margin-left: 37px;
}
.commentlist .comment .depth-3{
  margin-left: 37px;
}
.commentlist .comment .depth-4{
  margin-left: 37px;
}
.commentlist .comment .depth-5{
  margin-left: 37px;
}
.commentlist .children {}
.commentlist .pingback {}
.commentlist .bypostauthor {}
.commentlist .comment-author {}
.commentlist .comment-author-admin {}

.commentlist {}
.commentlist li {
	list-style: none;
}
.commentlist li p {
  clear: both;
}
.commentlist li ul {}
.commentlist li ul.children li {}
.commentlist li ul.children li.alt {}
.commentlist li ul.children li.byuser {}
.commentlist li ul.children li.comment {}
.commentlist li ul.children li.depth-{id} {}
.commentlist li ul.children li.bypostauthor {}
.commentlist li ul.children li.comment-author-admin {}

#cancel-comment-reply {}
#cancel-comment-reply a {}
.commentlist .comment-text {
  border: 1px solid #ececec;
  clear: both;
  color: #555;
  display: block;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 45px;
  position: relative;
}
.logged-in-as {
	margin-bottom: 15px;
}
.logged-in-as a{ 
	color: #2c2c2c;
}
.logged-in-as a:hover{ 
	color: #e93424;
}
.comment-respond {
	display: block;
}
.commentlist .comment-text a.commenttext-arrow {
  background: url(com-arrow.png);
  width: 18px;
  height: 7px;
  display: inline-block;
  position: absolute;
  top: -8px;
  left: 82px;
}
.commentform_wrapper .post-info {
  display: none;
}
.commentform_wrapper #respond .comment-reply-title {
  font-size: 26px;
  margin-bottom: 20px;
}
.commentform_wrapper .comment-notes {
  margin-bottom: 30px;
}
.comment-form-author label, .comment-form-email label, .comment-form-url label {
  font-size: 21px;
  border: 1px solid #222;
  padding: 11px 18px 14px 18px;
}
 
 
  .form-control {
display: inline-block;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
margin-bottom: 20px;
font-size: 14px;
line-height: 25px;
color: #1E1E1E;
border: 2px solid #dadada;
resize: none;
height: 46px;
width: 100%;
vertical-align: middle;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
background: #E9EDED;
-webkit-border-radius: 0;
border-radius: 0;
-webkit-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
transition: all 200ms ease-in;
}
 
 
.form-control {
border-radius: 0;
border: 0;
display: inline-block;
text-shadow: none;
height: 44px;
border: 1px solid #ddd;
background: none;
box-shadow: none;
}
  
 
 
 
 
 
 
 
 
.comment-form-author, .comment-form-url {
  float: left;
}
.comment-form-comment textarea {
  height: 55px;
  width: 382px;
  padding: 16px 12px 16px 12px;
}
.comment-form-url input {
  width: 258px;
}

.form-submit input[type='submit']{
  border-color: #007fac;
  color: #ffffff;
  background-color: #007fac;
  border: 2px solid #007fac;
padding: 10px 20px;
box-shadow: none;
 
 
font-size: 14px;
letter-spacing: 2px;
font-weight: 600;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
border-radius: 5px;
  }











 
.form-allowed-tags {
	display: inline-block;
	float: left;
	margin-bottom: 30px;
	margin-top: 13px;
	font-size: 12px;
	line-height: 19px;
}
/* --- WP Comments Ends --- */

/* --- WP Calendar Widget --- */
#calendar_wrap {
}
#calendar_wrap table, #calendar_wrap th, #calendar_wrap td, #calendar_wrap tr {
  padding: 6px;
  border: 1px solid rgba(0,0,0,0.03);
  border-collapse: collapse;
}
#calendar_wrap #wp-calendar {
  width: 100%;
  margin-bottom: 17px;
}
#calendar_wrap #wp-calendar caption {
  font-size: 13px;
  text-transform: uppercase;
  padding: 15px 0;
  text-align: center;
}
#calendar_wrap #wp-calendar th, #calendar_wrap #wp-calendar td {
  border: 1px solid rgba(0,0,0,0.03);
  text-align: center;
}
#calendar_wrap th {
  line-height: 20px;
  background: rgba(0,0,0,0.03);
  text-shadow: rgba(0,0,0,0.05) 0 1px 0px;
}
#calendar_wrap #wp-calendar #today, #calendar_wrap #wp-calendar #today {
  background: #007fac;
}
#calendar_wrap #wp-calendar #today, #calendar_wrap #wp-calendar #today a {
  color: #FFF;
}
/* --- WP Calendar Widget --- */

/* --- Blog Page and Posts Starts --- */
 
.mainblogcontent  .blog-wrapper {
padding-top: 0;

}
.mainblogcontent .gallery-wrapper {
margin-top: 0px;
}
.breadcrum-wrapper {
   
  box-shadow: 0px 0px 15px 0px rgba(170, 170, 170, 1.4);
}
.breadcrum h4 {
  padding-top: 80px;
  padding-bottom: 18px;
}
.article-page h1, .article-page h2, .article-page h3 {
	padding-bottom: 10px;
}
.article-page h4, .article-page h5, .article-page h6 {
	padding-bottom: 7px;
}
.article-page h1 a, .breadcrum h4 a {
  color: #000;
  display: inline-block;
  word-break: break-word;
}
.article-page h1 a:hover, .breadcrum h4 a:hover{
  color: #e93424;
}
 
.article-page a:hover{
	color: #007fac;
}
.article-page p {
	padding-bottom: 9px;
}
.article-page ol, .article-page ul {
	margin-left: 18px;
}
.article-page ul.meta {
	margin-left: 0;
	margin-bottom: 14px;
}
.article-page ol li, .article-page ul li{
	margin-bottom: 7px;
}
 .article-page ol ol, .article-page ul ul  {
 margin-top: 7px;
 }
.article-page .avatar.photo {
	padding: 3px;
	border: 1px solid #adadad;
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-right: 10px;
}
.article-page .auth-title {
	padding-top: 10px;
	padding-bottom: 5px;
}
.meta li {
  display: inline-block;
  color: #007fac;
  margin-right: 15px;
}
.meta li.comments {
	float: right;
}
.meta li a {
   color: #000;
}
.meta li a:hover {
text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}
.meta {
  margin-bottom: 20px;
  font-size: 14px;
}
 
.article-page h1.article-page-head {
  
  padding-bottom: 13px;
  margin-bottom: 10px;
}
.article-page img {
  max-width: 100%;
  height: auto;
}
.article-page .postimg {
	margin-bottom: 13px;
}
.article-page img.rbh-readmore {
position: relative;
margin-right: -12px;
margin-bottom: -12px;
float: right;
}
.article-page img.rbh-readmore:hover {
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
}
.article-page .contact-container {
	line-height: 1.4;
	margin-top: 40px;
}
.nav-next {
	float: right;
}
#nav-single {
	margin-right: 24px;
	margin-bottom: 30px;	
}
#nav-single a {
	color: #fff;
	padding: 8px;
	    background: #007fac;
    border: 1px solid #ddd;
}
#nav-single a:hover {
	color: #fff;
	background: #2c2c2c;
}
/* --- Blog Page and Posts Ends --- */



/* --- Sidebar Starts --- */
.sidebar {
  font-size: 14px;
  margin-bottom: 54px;
}
.sidebar img {
  max-width: 100%;
  height: auto;
}
.sidebar select {
  max-width: 100%;
  margin-top: 12px;
margin-bottom: 12px;
}
.sidebar .tagcloud a {
padding: 5px 7px 5px 7px;
border: 1px solid #cfcfcf;
display: inline-block;
margin-bottom: 10px;
margin-right: 10px;
transition: all .4s;
background: #dfdfdf;
color: #000;
box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.07 );
border-radius: 1px;

}
.sidebar .tagcloud a:hover {
  background: #007fac;
  color: #fff;
  border: 1px solid #007fac;
}
.sidebar .menu ul li a, .footer .menu ul li a {
  padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0;
display: block;
font-size: 14px;
}
.sidebar .menu ul {
  float: none;
}
 .sidebar .menu ul li,  .footer .menu ul li {
  height: auto;
 }
 .sidebar .menu ul li:after, .footer .menu ul li:after {
content: "";
color: #fff;
}
 .sidebar ul li {
  margin-bottom: 15px;
  
  padding-left: 26px;
    padding: 5px 0;
  border-bottom: 1px solid #ecf0f1;
 }
 
 .sidebar ul li a:hover, .sidebar a.rsswidget:hover {
  color: #007fac;
}
 .sidebar ul li a, .sidebar a.rsswidget {
  color: #222;
}
.sidebar h4, .sidebar h3 {
  margin-bottom: 9px;
  padding-bottom: 7px;
    text-transform: uppercase;
}
.sidebar ul.children, .sidebar ul.sub-menu {
  margin-top: 14px;
}
/* -- sidebar search widget --*/
.sidebar #search, .sidebar #s {
  border: 1px solid #007fac;
  border-radius: 4px;
  padding: 7px 10px 7px 32px;
  width: 100%;
 
  margin-bottom: 15px;
  line-height: 20px;
}
.sidebar .searchform div input[type=submit] {
position: absolute;
top: 1px;
right: 1px;
background: #007fac url(../images/pattern-submit.png);
border-top-right-radius: 4px;
padding: 6px 13px 7px 13px;
border-bottom-right-radius: 4px;
border: 0px;
border-top: 1px solid #007fac;
border-left: 1px solid #007fac;
color: #fff;
width: auto;
height: inherit;
line-height: 20px;
}
.screen-reader-text {
	display: none;
}
.sidebar ol, .footer ol, .sidebar ul, .footer ul {
	list-style: none;
	
}

.sidebar h3:before {

  
    position: absolute;
    content: "";
    height: 4px;
    background: #007fac;
    width: 90px;
    bottom: -4px;
    left: 0px;
 
}

.sidebar h3 {
    border-bottom: 4px solid #E5E5E5;
position: relative;
}

/* --- Sidebar Ends --- */
 

@media (max-width: 1199px) {
  #main {
    margin-top: 50px;
  }
.comment-form-author input[type='text'], .comment-form-email input, .comment-form-url input {
  width: 200px;
}
.comment-form-url input {
  width: 186px;
}
.comment-form-comment textarea {
  width: 312px;
}
.contact-container .error.comment {
top: 131px;
left: 127px;
}
.contact-container  .error.email {
top: 50px;
left: 490px;
}
.contact-container .error.name {
top: 50px;
left: 130px;
}
}


/* --- Media Screen 991 --- */
@media (max-width: 991px) {
  .menu-wrapper {
    display: none;
  }
  .mm-fixed-top {
    display: block;
  }
  .contact-container form input[type='textarea'] {
    width: 44%;
  }
  .flex-caption {
    top: 9%;
	display: none;
  }
  .flex-control-nav {
top: 5%;
}
.article-page, #commentsbox, #nav-single {
  margin-right: 0;
}
.contact-container .error.comment {
top: 131px;
left: 74px;
}
.contact-container  .error.email {
top: 50px;
left: 380px;
}
.contact-container .error.name {
top: 50px;
left: 74px;
}
.mobile-logo {
	display: block;
}
}


/* --- Media Screen max 767 --- */
@media (max-width: 767px) {
  .contact-container form input[type='textarea'] {
    width: 67%;
  }
  .contact-container form input[type='text'] {
    width: 71%;
  }
  
.comment-form-author, .comment-form-url {
  float: none;
}
.blog-wrapper >  div > div:nth-child(n+1) > div:nth-child(3n+1) {
clear: none;
}
.blog-wrapper > div > div > div:nth-child(n+1) > div:nth-child(2n+1) {
clear: both;
}
.contact-container .error.comment {
top: 212px;
left: 74px;
}
.contact-container  .error.email {
top: 131px;
left: 74px;
}
.contact-container .error.name {
top: 50px;
left: 74px;
}
}

/* --- Media Screen max 550 --- */
@media (max-width: 550px) {
  .contact-container form input[type='textarea'] {
    width: 64%;
  }
  .blog-container .col-xs-6 {
    width: 100%;
  }
  .recent-posts-container img.post-thumb {
    width: 100%;
  }
  .bx-wrapper .bx-caption span {
      display: block;
      clear: both;
      margin-left: 0px;
    }
}

/* --- Media Screen  479 --- */
@media (max-width: 479px) {
.contact-container form input[type='textarea'] {
    width: 43%;
  }
  .contact-container form input[type='text'] {
    width: 53%;
  }
.comment-form-author input[type='text'], .comment-form-email input, .comment-form-url input {
  width: 100%;
  margin-top: 24px;
  border-left: 1px solid #222;
}
.comment-form-url input {
  width: 100%;
}
.comment-form-comment textarea {
width: 100%;
}
.contact-container .error.comment {
top: 212px;
left: 33px;
}
.contact-container  .error.email {
top: 131px;
left: 33px;
}
.contact-container .error.name {
top: 50px;
left: 33px;
}
}


/* --- Media Screen 300 Max --- */
@media (max-width: 300px) {

.contact-container form input[type='textarea'] {
width: 36%;
}
 .contact-container form input[type='text'] {
    width: 48%;
  }
  p.rbh-post-meta {
    width: 68%;
  }
  .text-container h1 {
    word-break: break-word;
  }
}
/* -------------------------------------------------------------------------- */
/* -------------------------Media Query Range------------------------------------ */
/* -------------------------------------------------------------------------- */
/* --- Media Screen 992 and 1199 --- */
@media (min-width: 992px) and (max-width: 1199px) {
.flex-control-nav {
    bottom: 33%;
  }
}


/* --- Media Screen 768 and 991 --- */
@media (min-width: 768px) and (max-width: 991px) {
.flex-control-nav {
    bottom: 33%;
  }
  p.rbh-post-meta {
    width: 69%;
  }

}


/* --- Media Screen 480 and 768 --- */
@media (min-width: 480px) and (max-width: 767px) {


}


/* --- Media Screen 300 and 479 --- */
@media (min-width: 300px) and (max-width: 479px) {
#main {
  margin-top: 0;
}

}








 




.pstmb  {
text-align:center;
}





.comment-respond .col-md-6 {
padding-left: 0;
margin-bottom: 0;
}


.comment-respond .col-md-12 {
padding-left: 0;
margin-bottom: 0;
}

.comment-respond h3 {
font-family: 'Roboto';
text-transform: uppercase;
font-weight: 500;
color: #1D1C1C;
margin-top: 0;
letter-spacing: 0.9px;
font-size: 24px;
}


#calendar_wrap a{color:#007fac;}






 










.headline  {color:#585f69;;}

.widget {
margin-bottom: 50px;
}


.navbar-inverse {
min-height:60px;
padding: 10px 0;
}


.breadcrumb {
margin-bottom: 0;
padding: 12px 15px;
background-color: transparent;
padding-right: 0;
font-weight: 600;

}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
color: #434955;
background-color: #fafafa;
    border: 1px solid #f1f1f1;
}

 


.navbar-default .nkkl>.active>a, .navbar-default .nkkl>.active>a:hover, .navbar-default .nkkl>.active>a:focus {
color: #777;
background:none;
}

.navbar-default .nkkl>li>a:hover, .navbar-default .nkkl>li>a:focus {
color: #fff;
background-color: transparent;
}

 .navbar-default .nkkl>.active>a:hover {
 color: #fff;
background-color: transparent;
 }
 
 


blockquote small {
color: #F8F8F8;
}

.carousel-control .icon-next:before {
font-family: FontAwesome;
font-size: 50px;
display: inline-block;
content: '\f054';
}
.carousel-control .icon-prev:before {
font-family: FontAwesome;
font-size: 50px;
display: inline-block;
content: '\f053';
}

.breadcrumb a {
color: #007fac;
}

.navbar-inverse .navbar-brand {
color: #007fac;
text-transform: uppercase;
font-size: 24px;
font-weight: 800;
}

.logo-box {

color: #fff;
font-weight: 400;
font-size: 30px;
}
a.abnoo img:hover {
  opacity: 0.6;
  filter: alpha(opacity=80);
  box-shadow: #000 0 0 0;
}
 

a.gallery-content {
color:#000;
font-size:14px;
}
 a {
  color: #000;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
} 
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #9d9d9d;
  background-color: transparent;
}

.avfoo p{
  margin: 0;
  text-align:left;
      color: #777;
}

 @media (min-width: 992px){
#footer-copyright .navbar-default .nav > li > a {
padding: 0px 10px;
}
}


.comment-respond .col-md-4 {
  padding-left: 0;
  }


.abpost {
  font-size: 15px;
}

.asat .ab {
  width: 30px;
  margin: 0px;
  border: 1px solid #282525;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  font-size: 90%;
  color: #020202;
  text-align: center;
}

a.alumntn:hover {
color:#007fac;

}

small.almsmall {
  color: #000;
}
 .navbar-inverse .navbar-toggle .icon-bar {
  background-color: #007fac;
}


.list-unstyled li i {
color: #007fac;
 
} 















 
.almrt {
    margin-right: 0;
    margin-left: 0;
}

.almrt .col-xs-1, .almrt .col-xs-2, .almrt .col-xs-3, .almrt .col-xs-4, .almrt .col-xs-5, .almrt .col-xs-6, .almrt .col-xs-7, .almrt .col-xs-8, .almrt .col-xs-9, .almrt .col-xs-10, .almrt .col-xs-11, .almrt .col-xs-12, .almrt .col-sm-1, .almrt .col-sm-2, .almrt .col-sm-3, .almrt .col-sm-4, .almrt .col-sm-5, .almrt .col-sm-6, .almrt .col-sm-7, .almrt .col-sm-8, .almrt .col-sm-9, .almrt .col-sm-10, .almrt .col-sm-11, .almrt .col-sm-12, .almrt .col-md-1, .almrt .col-md-2, .almrt .col-md-3, .almrt .col-md-4, .almrt .col-md-5, .almrt .col-md-6, .almrt .col-md-7, .almrt .col-md-8, .almrt .col-md-9, .almrt .col-md-10, .almrt .col-md-11, .almrt .col-md-12, .almrt .col-lg-1, .almrt .col-lg-2, .almrt .col-lg-3, .almrt .col-lg-4, .almrt .col-lg-5, .almrt .col-lg-6, .almrt .col-lg-7, .almrt .col-lg-8, .almrt .col-lg-9, .almrt .col-lg-10, .almrt .col-lg-11, .almrt .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}
 
.controls {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    padding-left: 20px;
}
.controls .prev, .controls .next {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    background-color: #007fac;
    color: #ffffff;
    opacity: 0.50;
    filter: alpha(opacity=50);
}

.controls .prev.disabled, .controls .next.disabled,
.controls .prev.disabled:hover, .controls .next.disabled:hover {
    background-color: #ecf0f1 !important;
    color: #2c3e50;    
}

.controls .prev:hover, .controls .next:hover {
    opacity: 1; 
}

.controls .next {
    right: 0;
}
 
 

/* Controls
 * -------------------------- */
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    margin-top: -10px;
}

.carousel-control .glyphicon-chevron-right {
    left: inherit;
    right: 50%;
}
 








